{
    "openapi": "3.0.3",
    "info": {
        "title": "ZeroKP Age Verification API",
        "version": "1.0.0",
        "description": "Zero-knowledge proof based age verification service. This API enables privacy-preserving age verification without revealing personal information.",
        "contact": {
            "name": "API Support",
            "url": "https://verify.provii.app"
        }
    },
    "servers": [
        {
            "url": "https://verify.provii.app/v1",
            "description": "Production server"
        }
    ],
    "tags": [
        {
            "name": "Challenge",
            "description": "Challenge creation, polling, and redemption for age verification"
        },
        {
            "name": "Verification",
            "description": "Zero-knowledge proof submission and verification"
        },
        {
            "name": "Internal",
            "description": "Service-to-service endpoints (not for external callers)"
        },
        {
            "name": "Operations",
            "description": "Health checks, metrics, and monitoring"
        },
        {
            "name": "JWKS",
            "description": "JSON Web Key Set endpoints"
        },
        {
            "name": "Meta",
            "description": "API documentation endpoints"
        },
        {
            "name": "Sandbox",
            "description": "Sandbox-only endpoints for testing"
        },
        {
            "name": "System",
            "description": "System health and monitoring"
        }
    ],
    "paths": {
        "/v1/challenge": {
            "post": {
                "summary": "Create age verification challenge",
                "description": "Creates a new challenge for age verification using PKCE flow. The origin must be pre-approved.",
                "operationId": "createChallenge",
                "tags": [
                    "Challenge"
                ],
                "parameters": [
                    {
                        "name": "Origin",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Origin of the request. Must be in the approved origins list.",
                        "example": "https://example.com"
                    },
                    {
                        "name": "X-API-Key",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "API key issued to the relying party.",
                        "example": "rp_live_XXXXXXXXXXXXXXXX"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$schema": "https://json-schema.org/draft/2020-12/schema",
                                "title": "CreateChallengeRequest",
                                "type": "object",
                                "properties": {
                                    "code_challenge": {
                                        "$ref": "#/$defs/B64Url32"
                                    },
                                    "method": {
                                        "$ref": "#/$defs/PkceMethod",
                                        "default": "S256"
                                    },
                                    "verifying_key_id": {
                                        "anyOf": [
                                            {
                                                "$ref": "#/$defs/VkId"
                                            },
                                            {
                                                "type": "null"
                                            }
                                        ],
                                        "default": null
                                    },
                                    "expires_in": {
                                        "$ref": "#/$defs/ExpiresIn",
                                        "default": 300
                                    },
                                    "authorizer": {
                                        "$ref": "#/$defs/Authorizer"
                                    }
                                },
                                "additionalProperties": false,
                                "required": [
                                    "code_challenge",
                                    "authorizer"
                                ],
                                "$defs": {
                                    "B64Url32": {
                                        "description": "Base64url-encoded wrapper around a 32-byte array.",
                                        "type": "string"
                                    },
                                    "PkceMethod": {
                                        "description": "Supported PKCE code challenge methods.",
                                        "type": "string",
                                        "enum": [
                                            "S256"
                                        ]
                                    },
                                    "VkId": {
                                        "type": "integer",
                                        "format": "uint32",
                                        "minimum": 0
                                    },
                                    "ExpiresIn": {
                                        "type": "integer",
                                        "format": "uint64",
                                        "minimum": 0
                                    },
                                    "Authorizer": {
                                        "description": "Shared HMAC-based authorizer used by relying parties when calling the API.",
                                        "type": "object",
                                        "properties": {
                                            "keyId": {
                                                "description": "Identifier of the client credential used to authenticate the request.",
                                                "type": "string"
                                            },
                                            "timestamp": {
                                                "description": "Unix timestamp (seconds) included in the canonical signing payload.",
                                                "type": "integer",
                                                "format": "uint64",
                                                "minimum": 0
                                            },
                                            "hmac": {
                                                "description": "Hex-encoded HMAC (SHA-256) over the canonical message.",
                                                "type": "string"
                                            },
                                            "nonce": {
                                                "description": "SECURITY: Cryptographic nonce for replay protection (64 hex chars / 256 bits).\nRequired for nonce-based replay attack prevention (ASVS V6.1.3).",
                                                "type": "string"
                                            }
                                        },
                                        "additionalProperties": false,
                                        "required": [
                                            "keyId",
                                            "timestamp",
                                            "hmac",
                                            "nonce"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Challenge created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "ChallengeResponse",
                                    "type": "object",
                                    "properties": {
                                        "challenge_id": {
                                            "$ref": "#/$defs/UuidV4"
                                        },
                                        "short_code": {
                                            "description": "12-digit numeric short code for accessibility (displayed as XXXX XXXX XXXX).",
                                            "type": "string"
                                        },
                                        "rp_challenge": {
                                            "$ref": "#/$defs/B64Url32"
                                        },
                                        "cutoff_days": {
                                            "$ref": "#/$defs/CutoffDays"
                                        },
                                        "verifying_key_id": {
                                            "$ref": "#/$defs/VkId"
                                        },
                                        "submit_secret": {
                                            "$ref": "#/$defs/B64Url32"
                                        },
                                        "expires_at": {
                                            "type": "integer",
                                            "format": "uint64",
                                            "minimum": 0
                                        },
                                        "proof_direction": {
                                            "type": "string"
                                        },
                                        "status_url": {
                                            "type": "string"
                                        },
                                        "verify_url": {
                                            "type": "string"
                                        }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                        "challenge_id",
                                        "short_code",
                                        "rp_challenge",
                                        "cutoff_days",
                                        "verifying_key_id",
                                        "submit_secret",
                                        "expires_at",
                                        "proof_direction",
                                        "status_url",
                                        "verify_url"
                                    ],
                                    "$defs": {
                                        "UuidV4": {
                                            "description": "UUID wrapper constrained to version 4 values.",
                                            "type": "string",
                                            "format": "uuid"
                                        },
                                        "B64Url32": {
                                            "description": "Base64url-encoded wrapper around a 32-byte array.",
                                            "type": "string"
                                        },
                                        "CutoffDays": {
                                            "description": "Strongly typed wrapper around a cutoff expressed in epoch days.",
                                            "type": "integer",
                                            "format": "int32"
                                        },
                                        "VkId": {
                                            "type": "integer",
                                            "format": "uint32",
                                            "minimum": 0
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "ErrorResponse",
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "code": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "ErrorResponse",
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "code": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "ErrorResponse",
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "code": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/challenge/{sid}": {
            "get": {
                "summary": "Poll challenge status",
                "description": "Check the current status of a challenge",
                "operationId": "pollChallenge",
                "tags": [
                    "Challenge"
                ],
                "parameters": [
                    {
                        "name": "sid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "Challenge session ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Challenge status",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "ChallengeStatus",
                                    "type": "object",
                                    "properties": {
                                        "state": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "string"
                                        },
                                        "verified": {
                                            "type": "boolean"
                                        },
                                        "proof_verified": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "state",
                                        "status",
                                        "verified",
                                        "proof_verified"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "ErrorResponse",
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "code": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "410": {
                        "description": "Gone",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "ErrorResponse",
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "code": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/challenge/{sid}/redeem": {
            "post": {
                "summary": "Redeem verified challenge",
                "description": "Complete verification by providing PKCE code_verifier",
                "operationId": "redeemChallenge",
                "tags": [
                    "Challenge"
                ],
                "parameters": [
                    {
                        "name": "sid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "Challenge session ID"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$schema": "https://json-schema.org/draft/2020-12/schema",
                                "title": "RedeemRequest",
                                "type": "object",
                                "properties": {
                                    "code_verifier": {
                                        "$ref": "#/$defs/PkceCodeVerifier"
                                    }
                                },
                                "additionalProperties": false,
                                "required": [
                                    "code_verifier"
                                ],
                                "$defs": {
                                    "PkceCodeVerifier": {
                                        "description": "PKCE `code_verifier` value constrained to the RFC 7636 character set.",
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Challenge redeemed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "RedeemResponse",
                                    "type": "object",
                                    "properties": {
                                        "result": {
                                            "type": "string"
                                        },
                                        "verified": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "result",
                                        "verified"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "ErrorResponse",
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "code": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "ErrorResponse",
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "code": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "ErrorResponse",
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "code": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "410": {
                        "description": "Gone",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "ErrorResponse",
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "code": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/verify": {
            "post": {
                "summary": "Submit age proof",
                "description": "Submit zero-knowledge proof for verification",
                "operationId": "submitVerification",
                "tags": [
                    "Verification"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$schema": "https://json-schema.org/draft/2020-12/schema",
                                "title": "SubmitProofRequest",
                                "type": "object",
                                "properties": {
                                    "challenge_id": {
                                        "$ref": "#/$defs/UuidV4"
                                    },
                                    "submit_secret": {
                                        "$ref": "#/$defs/B64Url32"
                                    },
                                    "proof": {
                                        "$ref": "#/$defs/AgeProofJson"
                                    }
                                },
                                "additionalProperties": false,
                                "required": [
                                    "challenge_id",
                                    "submit_secret",
                                    "proof"
                                ],
                                "$defs": {
                                    "UuidV4": {
                                        "description": "UUID wrapper constrained to version 4 values.",
                                        "type": "string",
                                        "format": "uuid"
                                    },
                                    "B64Url32": {
                                        "description": "Base64url-encoded wrapper around a 32-byte array.",
                                        "type": "string"
                                    },
                                    "AgeProofJson": {
                                        "type": "object",
                                        "properties": {
                                            "verifying_key_id": {
                                                "$ref": "#/$defs/VkId"
                                            },
                                            "public": {
                                                "$ref": "#/$defs/PublicInputsJson"
                                            },
                                            "proof": {
                                                "$ref": "#/$defs/B64Url192"
                                            }
                                        },
                                        "additionalProperties": false,
                                        "required": [
                                            "verifying_key_id",
                                            "public",
                                            "proof"
                                        ]
                                    },
                                    "VkId": {
                                        "type": "integer",
                                        "format": "uint32",
                                        "minimum": 0
                                    },
                                    "PublicInputsJson": {
                                        "type": "object",
                                        "properties": {
                                            "cutoff_days": {
                                                "$ref": "#/$defs/CutoffDays"
                                            },
                                            "rp_challenge": {
                                                "$ref": "#/$defs/B64Url32"
                                            },
                                            "issuer": {
                                                "$ref": "#/$defs/IssuerKeyJson"
                                            },
                                            "cred_nullifier": {
                                                "$ref": "#/$defs/B64Url32"
                                            }
                                        },
                                        "additionalProperties": false,
                                        "required": [
                                            "cutoff_days",
                                            "rp_challenge",
                                            "issuer",
                                            "cred_nullifier"
                                        ]
                                    },
                                    "CutoffDays": {
                                        "description": "Strongly typed wrapper around a cutoff expressed in epoch days.",
                                        "type": "integer",
                                        "format": "int32"
                                    },
                                    "IssuerKeyJson": {
                                        "type": "object",
                                        "properties": {
                                            "value": {
                                                "$ref": "#/$defs/B64Url32"
                                            }
                                        },
                                        "additionalProperties": false,
                                        "required": [
                                            "value"
                                        ]
                                    },
                                    "B64Url192": {
                                        "description": "Base64url-encoded wrapper around a 192-byte array.",
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Proof verified",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "VerifyResponse",
                                    "type": "object",
                                    "properties": {
                                        "result": {
                                            "type": "string"
                                        },
                                        "state": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "result",
                                        "state"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "ErrorResponse",
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "code": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "ErrorResponse",
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "code": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "ErrorResponse",
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "code": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "410": {
                        "description": "Gone",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "ErrorResponse",
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "code": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/jwks": {
            "get": {
                "summary": "Get JWKS",
                "operationId": "getJwks",
                "tags": [
                    "JWKS"
                ],
                "responses": {
                    "302": {
                        "description": "Redirect to static JWKS"
                    }
                }
            }
        },
        "/v1/jwks/{tenant_id}": {
            "get": {
                "summary": "Get tenant JWKS",
                "operationId": "getTenantJwks",
                "tags": [
                    "JWKS"
                ],
                "parameters": [
                    {
                        "name": "tenant_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "302": {
                        "description": "Redirect to JWKS"
                    }
                }
            }
        },
        "/health": {
            "get": {
                "summary": "Health check",
                "operationId": "health",
                "tags": [
                    "System"
                ],
                "responses": {
                    "200": {
                        "description": "Healthy",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string",
                                    "example": "OK"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/health/detailed": {
            "get": {
                "summary": "Detailed health check",
                "description": "Returns detailed health status including subsystem checks for challenge store, nonce store, JWKS cache, rate limiter, and ban store",
                "operationId": "healthDetailed",
                "tags": [
                    "Operations"
                ],
                "responses": {
                    "200": {
                        "description": "Detailed health status",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HealthCheckResponse"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Service unhealthy",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HealthCheckResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/metrics": {
            "get": {
                "summary": "Prometheus metrics",
                "description": "Returns metrics in Prometheus text exposition format",
                "operationId": "metrics",
                "tags": [
                    "Operations"
                ],
                "responses": {
                    "200": {
                        "description": "Metrics in Prometheus format",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/csp-report": {
            "post": {
                "summary": "Receive CSP violation report",
                "description": "Endpoint for browsers to submit Content Security Policy violation reports. Returns 204 with no body.",
                "operationId": "cspReport",
                "tags": [
                    "Meta"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/csp-report": {
                            "schema": {
                                "$ref": "#/components/schemas/CspReport"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Report received"
                    }
                }
            }
        },
        "/v1/openapi.json": {
            "get": {
                "summary": "OpenAPI specification",
                "description": "Returns this OpenAPI specification document",
                "operationId": "openapiSpec",
                "tags": [
                    "Meta"
                ],
                "responses": {
                    "200": {
                        "description": "OpenAPI 3.0.3 specification",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/docs": {
            "get": {
                "summary": "API documentation",
                "description": "Interactive API documentation rendered from the OpenAPI specification",
                "operationId": "apiDocs",
                "tags": [
                    "Meta"
                ],
                "responses": {
                    "200": {
                        "description": "HTML documentation page",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/internal/challenge": {
            "post": {
                "summary": "Create internal challenge",
                "description": "Service-to-service endpoint for provii-verifier to create a verification challenge with PKCE. Authenticated via internal service token.",
                "operationId": "internalCreateChallenge",
                "tags": [
                    "Internal"
                ],
                "security": [
                    {
                        "InternalServiceToken": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$schema": "https://json-schema.org/draft/2020-12/schema",
                                "title": "InternalChallengeRequest",
                                "description": "Internal challenge creation request (no authorizer required).\n\nThis is used by provii-verifier which authenticates via service token.",
                                "type": "object",
                                "properties": {
                                    "code_challenge": {
                                        "description": "Required PKCE code challenge encoded as base64url 32 bytes.",
                                        "$ref": "#/$defs/B64Url32"
                                    },
                                    "method": {
                                        "description": "PKCE method; only S256 is supported.",
                                        "$ref": "#/$defs/PkceMethod",
                                        "default": "S256"
                                    },
                                    "origin": {
                                        "description": "The origin making the request (passed from provii-verifier).",
                                        "type": "string"
                                    },
                                    "verifying_key_id": {
                                        "description": "Optional verifying key identifier validated against policy.",
                                        "anyOf": [
                                            {
                                                "$ref": "#/$defs/VkId"
                                            },
                                            {
                                                "type": "null"
                                            }
                                        ],
                                        "default": null
                                    },
                                    "expires_in": {
                                        "description": "TTL for the challenge.",
                                        "$ref": "#/$defs/ExpiresIn",
                                        "default": 300
                                    }
                                },
                                "additionalProperties": false,
                                "required": [
                                    "code_challenge",
                                    "origin"
                                ],
                                "$defs": {
                                    "B64Url32": {
                                        "description": "Base64url-encoded wrapper around a 32-byte array.",
                                        "type": "string"
                                    },
                                    "PkceMethod": {
                                        "description": "Supported PKCE code challenge methods.",
                                        "type": "string",
                                        "enum": [
                                            "S256"
                                        ]
                                    },
                                    "VkId": {
                                        "type": "integer",
                                        "format": "uint32",
                                        "minimum": 0
                                    },
                                    "ExpiresIn": {
                                        "type": "integer",
                                        "format": "uint64",
                                        "minimum": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Internal challenge created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "ChallengeResponse",
                                    "type": "object",
                                    "properties": {
                                        "challenge_id": {
                                            "$ref": "#/$defs/UuidV4"
                                        },
                                        "short_code": {
                                            "description": "12-digit numeric short code for accessibility (displayed as XXXX XXXX XXXX).",
                                            "type": "string"
                                        },
                                        "rp_challenge": {
                                            "$ref": "#/$defs/B64Url32"
                                        },
                                        "cutoff_days": {
                                            "$ref": "#/$defs/CutoffDays"
                                        },
                                        "verifying_key_id": {
                                            "$ref": "#/$defs/VkId"
                                        },
                                        "submit_secret": {
                                            "$ref": "#/$defs/B64Url32"
                                        },
                                        "expires_at": {
                                            "type": "integer",
                                            "format": "uint64",
                                            "minimum": 0
                                        },
                                        "proof_direction": {
                                            "type": "string"
                                        },
                                        "status_url": {
                                            "type": "string"
                                        },
                                        "verify_url": {
                                            "type": "string"
                                        }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                        "challenge_id",
                                        "short_code",
                                        "rp_challenge",
                                        "cutoff_days",
                                        "verifying_key_id",
                                        "submit_secret",
                                        "expires_at",
                                        "proof_direction",
                                        "status_url",
                                        "verify_url"
                                    ],
                                    "$defs": {
                                        "UuidV4": {
                                            "description": "UUID wrapper constrained to version 4 values.",
                                            "type": "string",
                                            "format": "uuid"
                                        },
                                        "B64Url32": {
                                            "description": "Base64url-encoded wrapper around a 32-byte array.",
                                            "type": "string"
                                        },
                                        "CutoffDays": {
                                            "description": "Strongly typed wrapper around a cutoff expressed in epoch days.",
                                            "type": "integer",
                                            "format": "int32"
                                        },
                                        "VkId": {
                                            "type": "integer",
                                            "format": "uint32",
                                            "minimum": 0
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "ErrorResponse",
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "code": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - invalid service token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "ErrorResponse",
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "code": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/internal/challenge/{sid}": {
            "get": {
                "summary": "Get internal challenge status",
                "description": "Service-to-service endpoint for provii-verifier to poll challenge status. Authenticated via internal service token.",
                "operationId": "internalChallengeStatus",
                "tags": [
                    "Internal"
                ],
                "security": [
                    {
                        "InternalServiceToken": []
                    }
                ],
                "parameters": [
                    {
                        "name": "sid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "Challenge session ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Challenge status",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "InternalChallengeStatusResponse",
                                    "description": "Response for internal challenge status check.",
                                    "type": "object",
                                    "properties": {
                                        "state": {
                                            "description": "Current challenge state as string.",
                                            "type": "string"
                                        },
                                        "status": {
                                            "description": "Duplicate of state for API consistency.",
                                            "type": "string"
                                        },
                                        "verified": {
                                            "description": "True if challenge has reached Verified state.",
                                            "type": "boolean"
                                        },
                                        "proof_verified": {
                                            "description": "True if proof has been verified (ProofOkWaitingForRedeem or Verified).",
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "state",
                                        "status",
                                        "verified",
                                        "proof_verified"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "ErrorResponse",
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "code": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Challenge not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "ErrorResponse",
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "code": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/internal/challenge/{sid}/redeem": {
            "post": {
                "summary": "Redeem internal challenge",
                "description": "Service-to-service endpoint for provii-verifier to redeem a verified challenge using PKCE code_verifier. Authenticated via internal service token.",
                "operationId": "internalRedeemChallenge",
                "tags": [
                    "Internal"
                ],
                "security": [
                    {
                        "InternalServiceToken": []
                    }
                ],
                "parameters": [
                    {
                        "name": "sid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "Challenge session ID"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$schema": "https://json-schema.org/draft/2020-12/schema",
                                "title": "InternalRedeemRequest",
                                "description": "Request body for internal challenge redemption.",
                                "type": "object",
                                "properties": {
                                    "code_verifier": {
                                        "description": "PKCE code verifier (43-128 characters, per RFC 7636).",
                                        "type": "string"
                                    }
                                },
                                "additionalProperties": false,
                                "required": [
                                    "code_verifier"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Challenge redeemed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "InternalRedeemResponse",
                                    "description": "Response for internal challenge redemption.",
                                    "type": "object",
                                    "properties": {
                                        "result": {
                                            "description": "Result status (\"success\" or \"error\").",
                                            "type": "string"
                                        },
                                        "verified": {
                                            "description": "Whether the challenge was successfully redeemed.",
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "result",
                                        "verified"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid code_verifier",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "ErrorResponse",
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "code": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "ErrorResponse",
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "code": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Challenge not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "ErrorResponse",
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "code": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Challenge not in redeemable state",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "ErrorResponse",
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "code": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/challenge/{sid}/details": {
            "get": {
                "summary": "Get challenge details",
                "description": "Returns full challenge details including short code, deep link data, and expiry. Used by the wallet app to display challenge information.",
                "operationId": "challengeDetails",
                "tags": [
                    "Challenge"
                ],
                "parameters": [
                    {
                        "name": "sid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "Challenge session ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Challenge details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "ChallengeDetailsResponse",
                                    "type": "object",
                                    "properties": {
                                        "challenge_id": {
                                            "$ref": "#/$defs/UuidV4"
                                        },
                                        "short_code": {
                                            "description": "12-digit numeric short code for accessibility (displayed as XXXX XXXX XXXX).",
                                            "type": "string"
                                        },
                                        "rp_challenge": {
                                            "$ref": "#/$defs/B64Url32"
                                        },
                                        "cutoff_days": {
                                            "$ref": "#/$defs/CutoffDays"
                                        },
                                        "verifying_key_id": {
                                            "$ref": "#/$defs/VkId"
                                        },
                                        "submit_secret": {
                                            "$ref": "#/$defs/B64Url32"
                                        },
                                        "expires_at": {
                                            "type": "integer",
                                            "format": "uint64",
                                            "minimum": 0
                                        },
                                        "proof_direction": {
                                            "type": "string"
                                        },
                                        "status_url": {
                                            "type": "string"
                                        },
                                        "verify_url": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "challenge_id",
                                        "short_code",
                                        "rp_challenge",
                                        "cutoff_days",
                                        "verifying_key_id",
                                        "submit_secret",
                                        "expires_at",
                                        "proof_direction",
                                        "status_url",
                                        "verify_url"
                                    ],
                                    "$defs": {
                                        "UuidV4": {
                                            "description": "UUID wrapper constrained to version 4 values.",
                                            "type": "string",
                                            "format": "uuid"
                                        },
                                        "B64Url32": {
                                            "description": "Base64url-encoded wrapper around a 32-byte array.",
                                            "type": "string"
                                        },
                                        "CutoffDays": {
                                            "description": "Strongly typed wrapper around a cutoff expressed in epoch days.",
                                            "type": "integer",
                                            "format": "int32"
                                        },
                                        "VkId": {
                                            "type": "integer",
                                            "format": "uint32",
                                            "minimum": 0
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Challenge not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "ErrorResponse",
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "code": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "410": {
                        "description": "Challenge expired",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "ErrorResponse",
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "code": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/challenge/by-code/{code}": {
            "get": {
                "summary": "Look up challenge by short code",
                "description": "Retrieves challenge details using the 12-digit numeric short code (formatted as XXXX XXXX XXXX). Used for manual code entry as an alternative to QR scanning.",
                "operationId": "challengeByCode",
                "tags": [
                    "Challenge"
                ],
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "12-digit numeric short code"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Challenge details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "ChallengeDetailsResponse",
                                    "type": "object",
                                    "properties": {
                                        "challenge_id": {
                                            "$ref": "#/$defs/UuidV4"
                                        },
                                        "short_code": {
                                            "description": "12-digit numeric short code for accessibility (displayed as XXXX XXXX XXXX).",
                                            "type": "string"
                                        },
                                        "rp_challenge": {
                                            "$ref": "#/$defs/B64Url32"
                                        },
                                        "cutoff_days": {
                                            "$ref": "#/$defs/CutoffDays"
                                        },
                                        "verifying_key_id": {
                                            "$ref": "#/$defs/VkId"
                                        },
                                        "submit_secret": {
                                            "$ref": "#/$defs/B64Url32"
                                        },
                                        "expires_at": {
                                            "type": "integer",
                                            "format": "uint64",
                                            "minimum": 0
                                        },
                                        "proof_direction": {
                                            "type": "string"
                                        },
                                        "status_url": {
                                            "type": "string"
                                        },
                                        "verify_url": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "challenge_id",
                                        "short_code",
                                        "rp_challenge",
                                        "cutoff_days",
                                        "verifying_key_id",
                                        "submit_secret",
                                        "expires_at",
                                        "proof_direction",
                                        "status_url",
                                        "verify_url"
                                    ],
                                    "$defs": {
                                        "UuidV4": {
                                            "description": "UUID wrapper constrained to version 4 values.",
                                            "type": "string",
                                            "format": "uuid"
                                        },
                                        "B64Url32": {
                                            "description": "Base64url-encoded wrapper around a 32-byte array.",
                                            "type": "string"
                                        },
                                        "CutoffDays": {
                                            "description": "Strongly typed wrapper around a cutoff expressed in epoch days.",
                                            "type": "integer",
                                            "format": "int32"
                                        },
                                        "VkId": {
                                            "type": "integer",
                                            "format": "uint32",
                                            "minimum": 0
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No challenge found for this code",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "ErrorResponse",
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "code": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "410": {
                        "description": "Challenge expired",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "ErrorResponse",
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "code": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/register-test-origin": {
            "post": {
                "summary": "Register test origin (sandbox only)",
                "description": "Registers a new origin for testing in the sandbox environment. Not available in production.",
                "operationId": "registerTestOrigin",
                "tags": [
                    "Sandbox"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RegisterTestOriginRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Origin registered successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RegisterTestOriginResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "ErrorResponse",
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "code": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Not available in production",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                                    "title": "ErrorResponse",
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "code": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "CreateChallengeRequest": {
                "$defs": {
                    "B64Url32": {
                        "description": "Base64url-encoded wrapper around a 32-byte array.",
                        "type": "string"
                    },
                    "PkceMethod": {
                        "description": "Supported PKCE code challenge methods.",
                        "type": "string",
                        "enum": [
                            "S256"
                        ]
                    },
                    "VkId": {
                        "type": "integer",
                        "format": "uint32",
                        "minimum": 0
                    },
                    "ExpiresIn": {
                        "type": "integer",
                        "format": "uint64",
                        "minimum": 0
                    },
                    "Authorizer": {
                        "description": "Shared HMAC-based authorizer used by relying parties when calling the API.",
                        "type": "object",
                        "properties": {
                            "keyId": {
                                "description": "Identifier of the client credential used to authenticate the request.",
                                "type": "string"
                            },
                            "timestamp": {
                                "description": "Unix timestamp (seconds) included in the canonical signing payload.",
                                "type": "integer",
                                "format": "uint64",
                                "minimum": 0
                            },
                            "hmac": {
                                "description": "Hex-encoded HMAC (SHA-256) over the canonical message.",
                                "type": "string"
                            },
                            "nonce": {
                                "description": "SECURITY: Cryptographic nonce for replay protection (64 hex chars / 256 bits).\nRequired for nonce-based replay attack prevention (ASVS V6.1.3).",
                                "type": "string"
                            }
                        },
                        "additionalProperties": false,
                        "required": [
                            "keyId",
                            "timestamp",
                            "hmac",
                            "nonce"
                        ]
                    }
                },
                "required": [
                    "code_challenge",
                    "authorizer"
                ],
                "type": "object",
                "properties": {
                    "code_challenge": {
                        "$ref": "#/$defs/B64Url32"
                    },
                    "method": {
                        "$ref": "#/$defs/PkceMethod",
                        "default": "S256"
                    },
                    "verifying_key_id": {
                        "anyOf": [
                            {
                                "$ref": "#/$defs/VkId"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "default": null
                    },
                    "expires_in": {
                        "$ref": "#/$defs/ExpiresIn",
                        "default": 300
                    },
                    "authorizer": {
                        "$ref": "#/$defs/Authorizer"
                    }
                },
                "additionalProperties": false
            },
            "ChallengeResponse": {
                "$defs": {
                    "UuidV4": {
                        "description": "UUID wrapper constrained to version 4 values.",
                        "type": "string",
                        "format": "uuid"
                    },
                    "B64Url32": {
                        "description": "Base64url-encoded wrapper around a 32-byte array.",
                        "type": "string"
                    },
                    "CutoffDays": {
                        "description": "Strongly typed wrapper around a cutoff expressed in epoch days.",
                        "type": "integer",
                        "format": "int32"
                    },
                    "VkId": {
                        "type": "integer",
                        "format": "uint32",
                        "minimum": 0
                    }
                },
                "required": [
                    "challenge_id",
                    "short_code",
                    "rp_challenge",
                    "cutoff_days",
                    "verifying_key_id",
                    "submit_secret",
                    "expires_at",
                    "proof_direction",
                    "status_url",
                    "verify_url"
                ],
                "type": "object",
                "properties": {
                    "challenge_id": {
                        "$ref": "#/$defs/UuidV4"
                    },
                    "short_code": {
                        "description": "12-digit numeric short code for accessibility (displayed as XXXX XXXX XXXX).",
                        "type": "string"
                    },
                    "rp_challenge": {
                        "$ref": "#/$defs/B64Url32"
                    },
                    "cutoff_days": {
                        "$ref": "#/$defs/CutoffDays"
                    },
                    "verifying_key_id": {
                        "$ref": "#/$defs/VkId"
                    },
                    "submit_secret": {
[...]
